  <div class="card-body">
    <table class="table data-tables-clear">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Origem</th>
          <th scope="col">Destino</th>
          <th scope="col">Quilometragem</th>
          <th scope="col">
            <div class="pull-right">
              <button class="btn btn-sm btn-primary">
                <i class="fa fa-pencil"></i> Novo Trecho
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">Nenhum registro encontrado</td>
        </tr>
      </tbody>
    </table>
  </div>
