<div class="sidnav-icon">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a  class="nav-link" routerLink="/despesas"  routerLinkActive="active-link">
        <i class="fas fa-file-alt"></i>
      </a>      
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/relatorios" routerLinkActive="active-link">Relatórios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aprovacoes" routerLinkActive="active-link">Aprovações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aprovacoes" routerLinkActive="active-link">Aprovações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin" routerLinkActive="active-link">Gestão</a>
    </li>     
  </ul>
</div>
<!-- 
<div class="sidnav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a  class="nav-link" routerLink="/despesas"  routerLinkActive="active-link">Despesas</a>      
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/relatorios" routerLinkActive="active-link">Relatórios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aprovacoes" routerLinkActive="active-link">Aprovações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aprovacoes" routerLinkActive="active-link">Aprovações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin" routerLinkActive="active-link">Gestão</a>
    </li>     
  </ul>
</div> -->
