<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/despesas"  routerLinkActive="active-link">Despesas</a>      
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/relatorios" routerLinkActive="active-link">Relatórios</a>
  </li>

  <li  class="nav-item">
    <a class="nav-link" routerLink="/aprovacoes" routerLinkActive="active-link">Aprovações</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin" routerLinkActive="active-link">Gestão</a>
  </li>     
</ul>

