
.header{
    background-color: #34475a;
    color: #fff ;  
}

/*#################################### NAV TABS #######################################################*/

.nav-tabs .nav-item{    
	text-align: center
}

.nav-tabs a.nav-link{
    font-size: 14px;
}

.nav-tabs a.nav-link.disabled {
	color: #a2a2a2
}

.nav-tabs .nav-item>a.active{
    color:#1abc9c;  
}

.nav-tabs .nav-item>a:hover{
    color:#1abc9c;    
}

.nav-tabs {
    -webkit-user-select: none ;
    -moz-user-select: none ;
    -ms-user-select: none ;
    user-select: none ;
    color: #9aa0ac ;
    margin: 0 -.75rem ;
    font-size: 18px;
    padding-top: 6px
}

.nav-tabs .nav-item {
    margin-bottom: -1px;   
}

.nav-tabs .nav-link {
    border-top: none ; 
    border-left: none ; 
    border-right: none ; 
    border-top-left-radius: none ; 
    border-top-right-radius: none ;    
    color: #fff; 
}

// .nav-tabs, 
//     .nav-tabs .nav-link:focus  {
//     border-bottom: 1px solid #1abc9c; 
// }

// .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
//     border-bottom: 2px solid #1abc9c;   
// }

.active-link {
    color: #1abc9c !important;
}