<div class="header d-lg-flex p-0 collapse">
    <div class="container">
      <div class="row row align-items-center">
        <div class="col-lg-3 ml-auto"></div>
        <div class="col col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/']"><i class="fe fe-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/Sobre']"><i class="fe fe-box"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/Contato']"><i class="fe fe-calendar"></i> Contato</a>
                </li>       
            </ul>
         </div>
      </div>
    </div>
  </div>