<div class="card-body">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5>Limites de Despesa</h5>
      </div>
      <div class="card-body">
        <table class="table data-tables-clear">
          <thead>
            <tr>
              <th class="text-center">Política</th>
              <th class="text-center">Limite</th>
              <th class="text-center">Limite de Lançamento</th>
              <th>Permitir ultrapassar limite</th>
              <th>Exige imagem do recibo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Por Pessoa</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-angle-down"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Por dia</a>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Por Pessoa</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-angle-down"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Por dia</a>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Não</label>
                </div>
              </td>
              <td>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                    value="option1">
                  <label class="form-check-label" for="inlineRadio1">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="option2">
                  <label class="form-check-label" for="inlineRadio2">Não</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>