<div class="col-12">
  <h3 class="v-title text-center">Financeiro</h3>
</div>
<hr />

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="car-header">
            <h4 class="card-title">Dados de Uso (28/02/2019 até 28/03/2019)</h4>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Valor por usuário (A partir de 2 usuários ativos): R$ 14,00</li>
              <li class="list-group-item">Valor estimado do mês: R$ 0,00</li>
              <li class="list-group-item">Data do último pagamento: ---</li>
              <li class="list-group-item">Data do vencimento do plano: 28/03/2019</li>
              <li class="list-group-item">Usuarios em atividade (Ver todos) : 0</li>
              <li class="list-group-item">Empresas em atividade (Ver todas) : 0</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="car-header">
            <h4 class="card-title">Dados de Cobrança</h4>
          </div>
          <div class="card-body">
            <table class="table data-tables-clear">
              <tbody>
                <tr>
                  <td>Razão Social: Não Preenchido</td>
                  <td>Bairro: Não Preenchido</td>
                </tr>
                <tr>
                  <td>CPF ou CNPJ Não Preenchido</td>
                  <td>Endereço: Não Preenchido</td>
                </tr>
                <tr>
                  <td>País: Não Preenchido</td>
                  <td>Complemento: Não Preenchido</td>
                </tr>
                <tr>
                  <td>Cidade-UF: Não Preenchido</td>
                  <td>Telefone: Não Preenchido</td>
                </tr>
                <tr>
                  <td>CEP: Não Preenchido</td>
                  <td>E-mail Empresarial: Não Preenchido</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="car-header">
            <h4 class="card-title">Histórico de Faturas</h4>
            <h6 class="card-subtitle">
              Aqui você vizualiza todas as faturas, boletos e notas fiscais geradas. As notas fiscais estarão
              disponíveis em até 3 dias após confirmação do pagamento.
            </h6>
          </div>
          <div class="card-body">
            <table class="table data-tables-clear">
              <thead>
                <tr>
                  <th scope="col">Período</th>
                  <th scope="col">Data Vencimento</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>28/01/2019 até 28/1/2019</td>
                  <td>10/03/2019</td>
                  <td>R$ 00.00</td>
                  <td>Fatura Paga</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>