<div class="modal fade" id="modal-percurso" tabindex="-1" role="dialog" aria-labelledby="modal-percurso"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Nova Percurso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 com-md-6 col-lg-6">
            <div class="arquivo-anexo">
              <p class="arquivo-texto">Anexo da Despesa</p>
              <div class="arquivo-container">

              </div>
            </div>
            <div class="form-group">
              <label>Trechos Pré-Cadastrado</label>
              <select class="form-control"></select>
            </div>
            <div class="form-group">
              <label>Descricao</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Quilometragem</label>
              <input type="text" class="form-control">
            </div>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <label>Moeda</label>
                  <select class="form-control"></select>
                </div>
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="form-group">
                  <label>Valor pago por Km</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 com-md-6 col-lg-6">
            <div class="form-group">
              <label>Valor</label>
              <input type="text" class="form-control" disabled>
            </div>
            <div class="form-group">
              <label>Data</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Relatório</label>
              <select class="form-control"></select>
            </div>
            <div class="form-group">
              <label>Centro de Custo</label>
              <select class="form-control"></select>
            </div>
            <div class="form-group">
              <label>Forma de Pagamento</label>
              <select class="form-control"></select>
            </div>
            <div class="form-group">
              <input type="checkbox"> <span class="text-chk">Reembolsavél</span>
            </div>
            <div class="form-group">
              <label>Observação</label>
              <textarea rows="4" class="form-control" cols="50"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-acao">Salvar</button>
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>