<br />
<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="arquivo-anexo">
        <p class="arquivo-texto">Selecionar Imagem</p>
        <div class="arquivo-container">
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <label>Permitir alteração de dados dos membros de equipe apenas por administradores</label>
        <select class="form-control conf-empresa"></select>
      </div>
      <div class="form-group">
        <label>Permitir envio de emails de aprovação de relatório</label>
        <select class="form-control conf-empresa"></select>
      </div>
      <div class="form-group">
        <label>Descrição da despesa obrigatória</label>
        <select class="form-control conf-empresa"></select>
      </div>
      <div class="form-group">
        <label>Tornar o campo forma de pagamento obrigatório</label>
        <select class="form-control conf-empresa"></select>
      </div>
      <div class="form-group">
        <label>Permitir lançamentos de despesas com valor negativo (desconto)</label>
        <select class="form-control conf-empresa"></select>
      </div>
      <div class="form-group">
        <label>Tornar o campo projeto da despesa obrigatório</label>
        <select class="form-control conf-empresa"></select>
      </div>
      <div class="form-group">
        <label>Permitir a utilização de adiantamento</label>
        <select class="form-control conf-empresa"></select>
      </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-sm">Salvar</button>
      </div>
  </div>
</div>