<div class="dropdown">
    <a class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="avatar">
          <span style="background-image: url(&quot;../../../assets/img/25.jpg&quot;);"></span>
        </div>
        <div class="ml-2 lg-block">
          <span class="text-default">Jane Pearson</span>
          <small class="text-muted d-block mt-1">Administrator</small>
        </div>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"><i class="fe fe-user dropdown-icon"></i> Profile</a>
        <a class="dropdown-item"><i class="fe fe-settings dropdown-icon"></i> Settings</a>
        <a class="dropdown-item">
          <span class="float-right">
            <span class="badge badge-primary">6</span>
          </span>
          <i class="fe fe-mail dropdown-icon"></i> Inbox
        </a>
        <a class="dropdown-item"><i class="fe fe-send dropdown-icon"></i> Message</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"><i class="fe fe-help-circle dropdown-icon"></i> Need help?</a>
        <a class="dropdown-item"><i class="fe fe-log-out dropdown-icon"></i> Sign out</a>
    </div>
  </div>
