<div class="col-12">
    <h3 class="v-title text-center">Forma de Pagamento</h3>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <button class="btn btn-sm btn-primary">
            <i class="fa fa-plus-circle"></i>
             Nova Forma de Pagamento
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <table class="table data-tables">
            <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Reembolsavel</th>
                <th scope="col">Baixar Adiantamento</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dinheiro</td>
                <td>Sim</td>
                <td>Sim</td>
                <td>
                  <div class="pull-right">
                    <button class="btn btn-sm btn-primary">
                      <i class="fa fa-pencil"></i> Editar
                    </button> &nbsp;
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i> Remover
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Cartão Pessoal</td>
                <td>Sim</td>
                <td>Sim</td>
                <td>
                  <div class="pull-right">
                    <button class="btn btn-sm btn-primary">
                      <i class="fa fa-pencil"></i> Editar
                    </button> &nbsp;
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i> Remover
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Cartão Corporativo</td>
                <td>Sim</td>
                <td>Sim</td>
                <td>
                  <div class="pull-right">
                    <button class="btn btn-sm btn-primary">
                      <i class="fa fa-pencil"></i> Editar
                    </button> &nbsp;
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i> Remover
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>