<div class="col-12">
  <h3 class="card-title text-left card-t">Cadastro de Empresa</h3>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Dados Gerais</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Moedas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Preferência</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Política de Despesas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>