<div class="row justify-content-start">
  <div class="col-sm-12 col-lg-3 col-md-3">
    <app-sidebar-relatorios></app-sidebar-relatorios>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-8 conteudo">
      <div class="icone-centro">
        <img src="../../../assets/img/report-image-icon.png" class="mx-auto d-block">
      </div>
      <p class="texto-titulo">Nenhuma relatorio foi criado ainda</p>
      <p class="texto-info"> Organize os relatórios como quiser: por viagem, mês, semana, etc.</p>
      <p class="texto-info"> Não se esqueça de adicionar despesas nos seus relatórios.</p>
      <br>
      <div class="col-md-3 col-sm-3">
        <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#modal-relatorio">Criar
          Relatório
        </button>
      </div>
    
  </div>
</div>

<app-modal-relatorio></app-modal-relatorio>
