<div class="row justify-content-start">
    <div class="col-sm-3 col-lg-3 col-md-4">
        <app-sidebar-relatorios></app-sidebar-relatorios>
    </div>
    <div class="col-8 conteudo-centro">
        <div class="col-md-8 offset-md-3">
            <div class="icone-centro">
                <img src="../../../assets/img/report-image-icon.png" class="mx-auto">
            </div>  
            <p class="texto-titulo">Nenhuma relatorio foi criado ainda</p>  
            <p class="texto-info"> Organize os relatórios como quiser: por viagem, mês, semana, etc.</p> 
            <p class="texto-info"> Não se esqueça de adicionar despesas nos seus relatórios.</p>
            <br> 
            <div class="col-md-3 col-sm-3 offset-md-5">
                <button class="btn btn-acao btn-sm btn-block" data-toggle="modal" data-target="#modal-relatorio">Criar Relatório</button>
            </div>      
        </div>
    </div>
</div>

<app-modal-relatorio></app-modal-relatorio>
