<div class="col-12">
  <h3 class="v-title text-center">Cadastro Empresa</h3>
</div>
<hr />
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card-body">
      <a routerLink="../listar-empresas" class="btn btn-sm btn-default">
        <i class="fa fa-angle-double-left"></i> Voltar para Empresas
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card-body">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="empresa-dados-gerais" routerLinkActive="active">Dados Gerais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="empresa-moeda" routerLinkActive="active">Moedas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="empresa-preferencia" routerLinkActive="active">Preferência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="empresa-polita-despesa" routerLinkActive="active">Política de Despesas</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>