<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card-body">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table data-tables">
          <thead>
            <tr>
              <th scope="col">Membro</th>
              <th scope="col">Projeto</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Guilherme</td>
              <td>Desenvolvimento de Mudas</td>
              <td>Ativo</td>
              <td>
                <div class="pull-right">
                  <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i> Remover
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>