<div class="row">
    <div class="col-12">
        <h3 class="card-title text-left card-t">Graficos</h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Status</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Centro de Custo</label>
                            <select class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Projeto</label>
                            <select class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Data Inicial</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Data Final</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Projeto</label>
                            <select class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label></label>
                            <button class="btn btn-sm btn-acao btn-block">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Despesas</h5>
            </div>
            <div class="card-body">
                <app-grafico-de-barras></app-grafico-de-barras>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Despesas por Tipo</h5>
            </div>
            <div class="card-body">
                <app-grafico-de-barras></app-grafico-de-barras>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Top Usúario</h5>
            </div>
            <div class="card-body">
                <app-grafico-de-barras></app-grafico-de-barras>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Despesas por Centro de Custo</h5>
            </div>
            <div class="card-body">
                <app-grafico-de-barras></app-grafico-de-barras>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Despesas por Projetos/h5>
            </div>
            <div class="card-body">
                <app-grafico-de-barras></app-grafico-de-barras>
            </div>
        </div>
    </div>
</div> -->