<div class="footer">
  <div class="container">
    <div class="row row">
      <div class="col col-lg-8">

      </div>
      <div class="col col-lg-4 mt-4 mt-lg-0">

      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row row align-items-center flex-row-reverse">
      <div class="col col-auto ml-auto">
        <div class="row row align-items-center">
          <div class="col col-auto">
            <ul class="list list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                <a href="./docs/index.html">Documentation</a>
              </li>
              <li class="list-inline-item">
                <a href="./faq.html">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col col-auto">
            <a class="btn btn-sm btn-outline-primary" href="https://github.com/tabler/tabler-react">Source code</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-auto mt-3 mt-lg-0 text-center">Copyright © 2019
        <a href="."> Permata RD </a>. Theme by
        <a href="#" target="_blank" rel="noopener noreferrer"> permata.com.br </a> All rights reserved.
      </div>
    </div>
  </div>
</footer>