<div class="col-12">
    <h3 class="v-title text-center">Gerênciamento de Projetos</h3>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <a routerLink="cadastro-projeto" class="btn btn-sm btn-acao">
            <i class="fa fa-plus-circle"></i>
             Novo Projeto
          </a>
        </div>
      </div>

      <h4 class="card-title">Projeto Ativos</h4>   
      <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <table class="table data-tables-clear">
            <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Desenvolvimento</td>
                <td>
                  <div class="pull-right">
                    <button class="btn btn-sm btn-acao">
                      <i class="fa fa-pencil"></i> Editar
                    </button> &nbsp;
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i> Remover
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Implantação</td>
                <td>
                  <div class="pull-right">
                    <button class="btn btn-sm btn-acao">
                      <i class="fa fa-pencil"></i> Editar
                    </button> &nbsp;
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i> Remover
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Suporte</td>
                <td>
                  <div class="pull-right">
                    <button class="btn btn-sm btn-acao">
                      <i class="fa fa-pencil"></i> Editar
                    </button> &nbsp;
                    <button class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i> Remover
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr />

     <h4 class="card-title">Projeto Inativos</h4>   
      <div class="card-body">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table data-tables-clear">
              <thead>
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Desenvolvimento</td>
                  <td>
                    <div class="pull-right">
                      <button class="btn btn-sm btn-acao">
                        <i class="fa fa-pencil"></i> Visualizar
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Implantação</td>
                  <td>
                    <div class="pull-right">
                      <button class="btn btn-sm btn-acao">
                        <i class="fa fa-pencil"></i> Visualizar
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Suporte</td>
                  <td>
                    <div class="pull-right">
                      <button class="btn btn-sm btn-acao">
                        <i class="fa fa-pencil"></i> Visualizar
                      </button>                  
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>