
body{
    background-color: #f3f3f3;
	font-size: .875em;	
	font-family: open sans, sans-serif
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6675df;
}

.grid-container {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
  }

.main {
    grid-area: main;  
  }


.fa-bell-o{
    font-size: 14px;   
}

.fa-map-marker{
    color: #515151;
}
.fa-times{
    font-size: 10px;
}


.p-flex {
    display: flex;
}

.ml-auto, .mx-auto {
    margin-left: auto;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}


label {
  display: block;
  margin: 0;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


/* ####################################### SIDEBAR ######################################################*/

.sidenav {
    grid-area: sidenav;  
    border-right: 1px solid rgba(0,0,0,.1); 
    background: #f8f8f8;
  }
  

.panel-gray{
    background-color: #f8f8f8;
    border-top: 1px solid rgba(0,0,0,.1); 
}

[data-toggle="collapse"] .fa:before {   
    content: "\f107";
    color: #333;
  }
  
  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f105";
    color: #333;
  }

  .list-group-item {
      background: transparent;
  }


/* ######################################## CONTENT #####################################################*/
.justify-content-start{
    margin-top:60px;
}
.conteudo-centro{
    text-align: center;
    width: 98% ;
    color: rgba(79,79,79,.7);
}

.conteudo {
    flex-direction: column;
    display: flex;
    align-items: center;
}

 .icone-centro{
     padding: 30px;
 }

/* ######################################## ROW #########################################################*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.align-items-center {
    align-items: center;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
/*################################# FORMULARIOS #########################################################*/
label{
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
  
    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding-left: 24px;
    left: 0;
    top: 30px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form-group{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 60px;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-control{
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding: 0 26px;
    margin-bottom: 50px;
  }

  input.form-control {
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

 select.form-control {
    height: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  

/* ######################################## MODAL #####################################################*/
.modal-content{
    border-radius: 0px ;
    color: #515151 ;
}

.modal-header {
    padding: none ;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
    border-bottom: none ;   
}

.modal-title{
    color: #515151 ;
    font-weight: 300 ;
}

.modal-footer {  
    background: #f5f5f5;  
    padding: 10px 15px ;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.arquivo-anexo{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .3s ease;
}

.arquivo-texto{
    background: #99d3df;
    font-size: 14px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 500;
    padding: 5px;
}

.arquivo-container{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
    display: block;
    text-align: center;
    background-color: #eee;
    line-height: 200px;
}

input[type="checkbox"]{
    border-radius: 0px ; 
}

.text-chk{
    color: #515151;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 1px;;
    padding-left: 5px;
}

/* ####################################### CARD #########################################################*/
.sidenav .card-title{
    margin-top:30px;
}

.card-esp{
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card{
    border-radius: 2px;
	border-top: 4px solid #8cddcd;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .05);
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 30px
}

.card .card-header {
	background-color: transparent;
	padding: 15px 20px
}

.card-header{   
    border-bottom: none;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}  

.card-title{
    font-weight: 300;
    padding: 0 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757575;
}
.card-subtitle{
    border-bottom: 1px solid rgba(204, 204, 204, .35);
	padding-bottom: 10px;
	margin-bottom: 20px;	
	font-size: 14px;
	font-weight: 400;
	color: #2c3e50
}

.card h3{
    margin-bottom: 0;
	color: #757575;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px
}

.card h5{
    margin-bottom: 0;
	color: #757575;
	font-size: 16px;	
	display: inline-block;
	margin-right: 10px
}

.p-bar{
    margin-bottom: 40px;
}

/* ######################################### BUTTON #####################################################*/

.btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .btn-primary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: #6675df;
  
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .btn-primary:hover {
    background: #333333;
  }
  
/* ############################## TABELAS ###############################################################*/

thead{
    background: #fff; 
}

.data-tables{
    border: 1px solid rgba(0,0,0,.05);
    font-weight: 300;    
}

.data-tables > thead{
    border: 1px solid rgba(0,0,0,.05);
    font-weight: 300;
}

.data-tables > thead > tr > th {
    font-weight: 300 ;  
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom:1px solid rgba(0,0,0,.05);
}

.data-tables-clear{
    border: 1px solid rgba(0,0,0,.05);
    font-weight: 300;
    background: #fff;
}

.data-tables-clear > thead{
    background: #fff;    
}

.data-tables-clear > thead > tr > th {
    font-weight: 300 ;  
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom:1px solid rgba(0,0,0,.05);
}


/* ############################## FOOOTER ###############################################################*/
.footer {
    background: #fff;
    border-top: 1px solid rgba(0,40,100,.12);
    font-size: .875rem;
    padding: 1.25rem 0;
    color: #9aa0ac;
    grid-row-start: 2;
    grid-row-end: 3;
 
}

.footer a:not(.btn) {
    color: #6e7687;
}



/* ############################## RESPONSIVE ###############################################################*/


@media (max-width: 992px) {
  .login100-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }

  .login100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}
