
body{
    background-color: #f3f3f3;
	font-size: .875em;	
	font-family: open sans, sans-serif
}

* a {
	font-size: 14px
}

* a:hover,
* a:focus {
	text-decoration: none
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
  }

.main {
    grid-area: main;  
  }


.fa-bell-o{
    font-size: 14px;   
}

.fa-map-marker{
    color: #515151;
}
.fa-times{
    font-size: 10px;
}


.p-flex {
    display: flex;
}

.ml-auto, .mx-auto {
    margin-left: auto;
}

.form-group ,label{
    text-align: left ;
}

/* ##################################### HEADER ##########################################################*/

.header{
    // border-bottom: 1px solid rgb(192,192,192);
    background-color: #fff;
    color: #2c3e50;
}

.logo{
    margin-bottom: 5px
}

.header-brand {
    color: inherit;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 600;
    padding: 0;
    transition: opacity .3s;
    line-height: 2rem;
}

.text-default {   
    color: #2c3e50 ;  
  }

.text-muted {
    color:#2c3e50 ;
  }

.mt-1,
.my-1 {
    margin-top: 1px ;
  }

.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat 50%/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom;
    font-size: .875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0.5rem;
    margin-right: -0.8em ;
    box-shadow: 0 0 0 2px #fff;
}

.avatar i {
    font-size: 125%;
    vertical-align: sub;
  }

.dropdown-toggle::after {
    display:none;
}

/* ####################################### SIDEBAR ######################################################*/

.sidenav {
    grid-area: sidenav;  
    border-right: 1px solid rgba(0,0,0,.1); 
    background: #f8f8f8;
  }
  

.panel-gray{
    background-color: #f8f8f8;
    border-top: 1px solid rgba(0,0,0,.1); 
}

[data-toggle="collapse"] .fa:before {   
    content: "\f107";
    color: #333;
  }
  
  [data-toggle="collapse"].collapsed .fa:before {
    content: "\f105";
    color: #333;
  }

  .list-group-item {
      background: transparent;
  }


/* ######################################## CONTENT #####################################################*/
.justify-content-start{
    margin-top:60px;
}
.conteudo-centro{
    text-align: center;
    width: 98% ;
    color: rgba(79,79,79,.7);
}

.conteudo {
    flex-direction: column;
    display: flex;
    align-items: center;
}

 .icone-centro{
     padding: 30px;
 }

 .texto-titulo{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 30px 0 20px;    
 }

 .texto-info {
    font-size: 16px;
    line-height: 24px;
    max-width: 70%;
    margin: 0 auto;
}

.v-title{
    font-weight: 300 ;
    font-size: 1.416em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    margin-top: -30px;
}

/* ######################################## ROW #########################################################*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.align-items-center {
    align-items: center;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
/*################################# FORMULARIOS #########################################################*/
.form-group{
    margin-bottom:  5px ;
}

label{
    font-weight: 300;   
    font-size: 14px;  
    margin-bottom: 1px  ;
    color:#212529  ;
}

.form-control{
    border-radius: 0px ;
    height: 32px ;
}
.form-control:focus{
    border-radius:4px ;
    -moz-border-radius:4px ;
    -webkit-border-radius:4px;
    -webkit-box-shadow: 0px 0px 15px 1px #FDE99C;
    -moz-box-shadow: 0px 0px 15px 1px #FDE99C;
    box-shadow: 0px 0px 5px 0px #FDE99C;
    border:1px solid #FDE99C;
    outline:none; 
    border-radius: 0px ;
}

.btn-outline-warning{
    border:1px solid #FDE99C;
    color:#FDE99C;
}

.btn-outline-warning:focus :hover {
    background:  #FDE99C;
    color:#fff;
}

/* ######################################## MODAL #####################################################*/
.modal-content{
    border-radius: 0px ;
    color: #515151 ;
}

.modal-header {
    padding: none ;
    border-top-left-radius: 0px ;
    border-top-right-radius: 0px ;
    border-bottom: none ;   
}

.modal-title{
    color: #515151 ;
    font-weight: 300 ;
}

.modal-footer {  
    background: #f5f5f5;  
    padding: 10px 15px ;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.arquivo-anexo{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .3s ease;
}

.arquivo-texto{
    background: #99d3df;
    font-size: 14px;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 500;
    padding: 5px;
}

.arquivo-container{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
    display: block;
    text-align: center;
    background-color: #eee;
    line-height: 200px;
}

input[type="checkbox"]{
    border-radius: 0px ; 
}

.text-chk{
    color: #515151;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 1px;;
    padding-left: 5px;
}

/* ####################################### CARD #########################################################*/
.sidenav .card-title{
    margin-top:30px;
}

.card-esp{
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card{
    border-radius: 2px;
	border-top: 4px solid #8cddcd;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .05);
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 30px
}

.card .card-header {
	background-color: transparent;
	padding: 15px 20px
}

.card-header{   
    border-bottom: none;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}  

.card-title{
    font-weight: 300;
    padding: 0 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757575;
}
.card-subtitle{
    border-bottom: 1px solid rgba(204, 204, 204, .35);
	padding-bottom: 10px;
	margin-bottom: 20px;	
	font-size: 14px;
	font-weight: 400;
	color: #2c3e50
}

.card h3{
    margin-bottom: 0;
	color: #757575;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 10px
}

.card h5{
    margin-bottom: 0;
	color: #757575;
	font-size: 16px;	
	display: inline-block;
	margin-right: 10px
}

.p-bar{
    margin-bottom: 40px;
}

h3{
    font-weight: 300 ;
    color: #000;
}

h4 > span{
    font-weight: 300;
    font-size: 1.216em;
    margin-top: 20px;  
    color: #000;
}

strong{
    font-weight: 500;
}



/* ######################################### BUTTON #####################################################*/
.btn-primary,
.sweet-alert button.confirm,
.wizard>.actions a {
	background-color: #1abc9c;
	border-color: #1abc9c;
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-primary:hover,
.sweet-alert button.confirm:hover,
.wizard>.actions a:hover {
	background-color: #28e1bd;
	border-color: #28e1bd
}

.btn-primary:active,
.sweet-alert button.confirm:active,
.wizard>.actions a:active {
	background-color: #13866f!important;
	border-color: #13866f;
	box-shadow: none;
	color: #fff
}

.btn-primary:focus,
.sweet-alert button.confirm:focus,
.wizard>.actions a:focus {
	box-shadow: none;
	color: #fff
}

.btn-primary.disabled,
.sweet-alert button.disabled.confirm,
.wizard>.actions a.disabled {
	background-color: rgba(26, 188, 156, .5);
	border-color: rgba(26, 188, 156, .5)
}

.btn-warning {
	background-color: #f1c40f;
	border-color: #f1c40f;
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-warning:hover {
	background-color: #f4d03f;
	border-color: #f4d03f
}

.btn-warning:active {
	background-color: #b8960b!important;
	border-color: #b8960b;
	box-shadow: none;
	color: #fff
}

.btn-warning:focus {
	box-shadow: none;
	color: #fff
}

.btn-warning.disabled {
	background-color: rgba(241, 196, 15, .5);
	border-color: rgba(241, 196, 15, .5)
}

.btn-default {
	background-color: #bdc3c7;
	border-color: #bdc3c7;
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-default:hover {
	background-color: #d9dcde;
	border-color: #d9dcde
}

.btn-default:active {
	background-color: #9ca5ab!important;
	border-color: #9ca5ab;
	box-shadow: none;
	color: #fff
}

.btn-default:focus {
	box-shadow: none;
	color: #fff
}

.btn-default.disabled {
	background-color: rgba(189, 195, 199, .5);
	border-color: rgba(189, 195, 199, .5)
}

.btn-danger {
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-danger:hover {
	background-color: #ed7669;
	border-color: #ed7669
}

.btn-danger:active {
	background-color: #cd2a19!important;
	border-color: #cd2a19;
	box-shadow: none;
	color: #fff
}

.btn-danger:focus {
	box-shadow: none;
	color: #fff
}

.btn-danger.disabled {
	background-color: rgba(231, 76, 60, .5);
	border-color: rgba(231, 76, 60, .5)
}

.btn-success {
	background-color: #2ecc71;
	border-color: #2ecc71;
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-success:hover {
	background-color: #54d98c;
	border-color: #54d98c
}

.btn-success:active {
	background-color: #239a55!important;
	border-color: #239a55;
	box-shadow: none;
	color: #fff
}

.btn-success:focus {
	box-shadow: none;
	color: #fff
}

.btn-success.disabled {
	background-color: rgba(46, 204, 113, .5);
	border-color: rgba(46, 204, 113, .5)
}

.btn-inverse {
	background-color: #34495e;
	border-color: #34495e;
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-inverse:hover {
	background-color: #46637f;
	border-color: #46637f
}

.btn-inverse:active {
	background-color: #1e2a37!important;
	border-color: #1e2a37;
	box-shadow: none;
	color: #fff
}

.btn-inverse:focus {
	box-shadow: none;
	color: #fff
}

.btn-inverse.disabled {
	background-color: rgba(52, 73, 94, .5);
	border-color: rgba(52, 73, 94, .5)
}

.btn-info {
	background-color: #3498db;
	border-color: #3498db;
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-info:hover {
	background-color: #5faee3;
	border-color: #5faee3
}

.btn-info:active {
	background-color: #2077b2!important;
	border-color: #2077b2;
	box-shadow: none;
	color: #fff
}

.btn-info:focus {
	box-shadow: none;
	color: #fff
}

.btn-info.disabled {
	background-color: rgba(52, 152, 219, .5);
	border-color: rgba(52, 152, 219, .5)
}

.btn-disabled {
	background-color: rgba(26, 188, 156, .5);
	border-color: rgba(26, 188, 156, .5);
	color: #fff;
	cursor: pointer;
	transition: all ease-in .3s
}

.btn-outline-primary {
	color: #13866f;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-warning {
	color: #b8960b;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-default {
	color: #9ca5ab;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-default:hover {
	color: #fff
}

.btn-outline-danger {
	color: #cd2a19;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-success {
	color: #239a55;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-inverse {
	color: #1e2a37;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-inverse:hover {
	color: #fff
}

.btn-outline-warning {
	color: #b8960b;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-info {
	color: #2077b2;
	background-color: #fff;
	background-color: transparent
}

.btn-outline-disabled {
	color: #13866f;
	background-color: #fff
}

.btn-xlg {
	padding: 14px 20px;
	font-size: 21px;
	line-height: 40px
}

.btn-lg {
	padding: 12px 18px;
	font-size: 18px;
	line-height: 32px
}

.btn-md {
	padding: 10px 16px;
	font-size: 15px;
	line-height: 23px
}

.btn-sm {
	padding: 8px 14px;
	line-height: 16px;
	font-size: 11px
}

.btn-mini {
	padding: 5px 10px;
	line-height: 14px;
	font-size: 10px
}

.btn-default .badge {
	background-color: #34495e;
	color: #fff
}

/* ############################## TABELAS ###############################################################*/

thead{
    background: #fff; 
}

.data-tables{
    border: 1px solid rgba(0,0,0,.05);
    font-weight: 300;    
}

.data-tables > thead{
    border: 1px solid rgba(0,0,0,.05);
    font-weight: 300;
}

.data-tables > thead > tr > th {
    font-weight: 300 ;  
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom:1px solid rgba(0,0,0,.05);
}

.data-tables-clear{
    border: 1px solid rgba(0,0,0,.05);
    font-weight: 300;
    background: #fff;
}

.data-tables-clear > thead{
    background: #fff;    
}

.data-tables-clear > thead > tr > th {
    font-weight: 300 ;  
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom:1px solid rgba(0,0,0,.05);
}


/* ############################## FOOOTER ###############################################################*/
.footer {
    background: #fff;
    border-top: 1px solid rgba(0,40,100,.12);
    font-size: .875rem;
    padding: 1.25rem 0;
    color: #9aa0ac;
    grid-row-start: 2;
    grid-row-end: 3;
 
}

.footer a:not(.btn) {
    color: #6e7687;
}