<div class="col-12">
    <h3 class="card-title text-left card-t">Extrato Conciliação despesa não reembolsáveis</h3>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Filtros</h3>
        </div>
        <div class="card-body">
  
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Usuários</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Data Inicial</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Data Final</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Forma de Pagamento</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                  <label>Moeda</label>
                  <select class="form-control"></select>
                </div>
              </div>
            <div class="col-4">
              <div class="form-group">
                <label>Código do Relatório</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px">
            <div class="col-4">
              <div class="form-group">
                <button class="btn btn-sm btn-acao">Filtrar</button> &nbsp;
                <button class="btn btn-sm btn-danger">Gerar PDF</button> &nbsp;
                <button class="btn btn-sm btn-primary">Gerar Exel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>