<h3 class="card-title">Configurações</h3>
<div class="panel-gray">
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="visao-geral-configuracao" routerLinkActive="active"> Visão geral das Configurações</a>
    </li>
    <li class="list-group-item">
      <a routerLink="cadastro-polita-empresa" routerLinkActive="active"> Política de Despesa da Empresa</a>
    </li>
    <li class="list-group-item">
      <a href="#painelControle" data-toggle="collapse" routerLinkActive="active">
        <i class="fa"></i> Dados Pessoais
      </a>
      <div class="collapse show" id="painelControle">
        <ul class="list-group">
          <li class="list-group-item">
            <a routerLink="meus-dados" routerLinkActive="active">Meus Dados</a>
          </li>
          <li class="list-group-item">
            <a routerLink="mudar-senha" routerLinkActive="active">Mudar Senha</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
      <a href="#relatorios" data-toggle="collapse" routerLinkActive="active">
        <i class="fa"></i> Dados da Empresa
      </a>
      <div class="collapse show" id="relatorios">
        <ul class="list-group">
          <li class="list-group-item">
            <a routerLink="empresa" routerLinkActive="active">Empresa</a>
          </li>
          <li class="list-group-item">
            <a routerLink="cadastro-departamento-cargos" routerLinkActive="active">Departamentos e Cargos</a>
          </li>
          <li class="list-group-item">
            <a routerLink="cadastro-membros" routerLinkActive="active">Membros da Equipe</a>
          </li>
          <li class="list-group-item">
            <a routerLink="cadastro-centro-custo" routerLinkActive="active">Centro de Custo</a>
          </li>
          <li class="list-group-item">
            <a routerLink="projeto" routerLinkActive="active">Projetos</a>
          </li>
          <li class="list-group-item">
            <a routerLink="cadastro-politica-km" routerLinkActive="active">Politica de Quilometragem</a>
          </li>
          <li class="list-group-item">
            <a routerLink="tipo-despesa" routerLinkActive="active">Tipo de Despesa</a>
          </li>
          <li class="list-group-item">
            <a routerLink="cadastro-politica-despesa" routerLinkActive="active">Politica de Despesa</a>
          </li>
          <li class="list-group-item">
            <a routerLink="cadastro-forma-pagamento" routerLinkActive="active">Forma de Pagamento</a>
          </li>
          <li class="list-group-item">
            <a routerLink="cadastro-fluxo-aprovacao" routerLinkActive="active">Fluxo de Aprovação</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="list-group-item">
      <a routerLink="financeiro" routerLinkActive="active"> Financeiro</a>
    </li>
  </ul>
</div>