<div class="col-12">
    <h3 class="v-title text-center">Editar Departamento</h3>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card-body">           
            <a routerLink="../listar-departamentos" class="btn btn-sm btn-default">
                <i class="fa fa-angle-double-left"></i> Voltar para Departamentos
            </a>      
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="editar-departamento" routerLinkActive="active">Editar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="departamento-membros" routerLinkActive="active">Departamento X Membros</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>