<div class="col-12">
  <h3 class="v-title text-center">Despesas por Projeto</h3>
</div>
<hr />

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card-esp">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> Filtros</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Projetos</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Data Inicial</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Data Final</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Status da Despesa</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Código do Relatório</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px">
            <div class="col-4">
              <div class="form-group">
                <button class="btn btn-sm btn-default">Filtrar</button> &nbsp;
                <button class="btn btn-sm btn-danger">Gerar PDF</button> &nbsp;
                <button class="btn btn-sm btn-primary">Gerar Exel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
