<div class="row justify-content-start">
  <div class="col-sm-12 col-lg-3 col-md-12">
    <app-sidebar-acao></app-sidebar-acao>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-8 conteudo">
      <div class="icone-centro">
        <img src="../../../assets/img/permata-image-icon.png" class="mx-auto d-block">
      </div>
      <p class="texto-titulo">Nenhuma despesa foi inserida ainda</p>
      <p class="texto-info"> As despesas são os gastos do dia a dia: reataurantes, hotéis, quilometragem, etc.</p>
      <p class="texto-info">Não se esqueça de adicioná-las em um relatório</p>
      <br>
      <div class="col-md-3 col-sm-3">
        <button class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#modal-despesa">Adicionar
          Despesa
        </button>
      </div>
  </div>
</div>
<app-modal-despesa></app-modal-despesa>
<app-modal-percurso></app-modal-percurso>
<app-modal-percurso-mapa></app-modal-percurso-mapa>
