<div class="row justify-content-start">
    <div class="col-3">
        <app-sidebar-acao></app-sidebar-acao>
    </div>
    <div class="col-8 conteudo-centro">
        <div class="col-md-8 offset-md-3">
            <div class="icone-centro">
                <img src="../../../assets/img/permata-image-icon.png" class="mx-auto">
            </div>  
            <p class="texto-titulo">Nenhuma despesa foi inserida ainda</p>  
            <p class="texto-info"> As despesas são os gastos do dia a dia: reataurantes, hotéis, quilometragem, etc.</p> 
            <p class="texto-info">Não se esqueça de adicioná-las em um relatório</p>      
        </div>
    </div>
</div>